repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.8.3
  hooks:
    - id: flake8
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
    - id: yapf
      args: ["-i", "-r"]
      files: "python"
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
    - id: nbstripout
      args: ['--extra-keys', 'metadata.language_info.version cell.metadata.jp-MarkdownHeadingCollapsed', '--strip-empty-cells']
